@model Order
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <h2>Index</h2>
        <hr />
        <p>
            Welcome to the &copy;Webshoppen CMS Page. <br /><br />
            Here you can edit and add content to the page.
        </p>
        <p>
            Hej med @Model.ID
        </p>
    </div>

</div>